

# MAYTAPI / WhatsApp (optional)
MAYTAPI_PRODUCT_ID=
MAYTAPI_PHONE_ID=
MAYTAPI_TOKEN=

WHATSAPP_GROUP_IDS_SMS_REGISTER=
WHATSAPP_GROUP_IDS_RECOILER=
WHATSAPP_GROUP_IDS_HOT_COIL=
WHATSAPP_GROUP_IDS_PIPE_MILL=
WHATSAPP_GROUP_IDS_QC_LAB=
WHATSAPP_GROUP_IDS_TUNDISH=
WHATSAPP_GROUP_IDS_LADDLE=
